/*
Syntax error: Invalid CSS after "...@mixin prepend(": expected variable (e.g. $foo), was "6);      "
        on line 177 of /home/donp/Dropbox/rails3/HoPACT/app/stylesheets/screen.scss

172:     
173:     #payment_form {
174:       $payment-columns: ceil(12);
175:       @include column($payment-columns);
176:       @include rounded;
177:       @mixin prepend(6);      
178:       @include append(6);            
179:       padding: 10px;
180:       //margin: 0 40px 0 0;
181:       border: 1px solid #E4E4E4;
182:       background-color: gray;  

Backtrace:
/home/donp/Dropbox/rails3/HoPACT/app/stylesheets/screen.scss:177
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:838:in `expected'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/script/lexer.rb:193:in `expected!'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/script/parser.rb:382:in `assert_tok'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/script/parser.rb:278:in `block in defn_arglist!'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/script/parser.rb:275:in `loop'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/script/parser.rb:275:in `defn_arglist!'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/script/parser.rb:100:in `parse_mixin_definition_arglist'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:765:in `sass_script'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:135:in `mixin_directive'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:130:in `special_directive'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:109:in `directive'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:357:in `block_child'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:339:in `block'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:333:in `ruleset'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:401:in `declaration_or_ruleset'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:357:in `block_child'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:339:in `block'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:333:in `ruleset'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:401:in `declaration_or_ruleset'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:357:in `block_child'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:339:in `block'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:333:in `ruleset'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:356:in `block_child'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:57:in `stylesheet'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/scss/parser.rb:26:in `parse'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/engine.rb:213:in `_to_tree'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/engine.rb:179:in `block in to_tree'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/home/donp/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/home/donp/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/donp/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/donp/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...@mixin prepend(\": expected variable (e.g. $foo), was \"6);      \"\A         on line 177 of /home/donp/Dropbox/rails3/HoPACT/app/stylesheets/screen.scss\A \A 172:     \A 173:     #payment_form {\A 174:       $payment-columns: ceil(12);\A 175:       @include column($payment-columns);\A 176:       @include rounded;\A 177:       @mixin prepend(6);      \A 178:       @include append(6);            \A 179:       padding: 10px;\A 180:       //margin: 0 40px 0 0;\A 181:       border: 1px solid #E4E4E4;\A 182:       background-color: gray;  "; }
