$background_color: #eee

header {
  background-color= $background_color
}
   
section {
/*min-height:491px;*/
  margin-top: 0;
  margin-bottom: 20px;  
  font-size: 120%;
  padding: 0px;
  #background: #fff;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
}
