.span-9
  %p.footermessage
    %span &copy; 2011 HoPACT All Rights Reserved.
    |
    %span
      = mail_to "darren.pottinger@gmail.com", name = "Contact Us"
.span-3.last
  #social-links
    = link_to image_tag("facebook.png", :alt => "Facebook"), 'http://www.facebook.com/home.php?sk=group_106550679411366'
    = link_to image_tag("twitter.png", :alt => "Twitter"),  'http://www.twitter.com/fastfitmobile'
    = link_to image_tag("youtube.png", :alt => "Youtube"), 'http://youtube.com/fastfitmobile'
